IRI equality must be nromalized

IRI equality: Two IRIs are equal if and only if they are equivalent under Simple String Comparison according to [section 5.1 of RFC3987](http://tools.ietf.org/html/rfc3987#section-5.1). Further normalization MUST NOT be performed when comparing IRIs for equality.